.category {
  background-color: rgba(0, 0, 0, 0.1);
  width: 308px;
  padding: 4px;
  border-radius: 5px;
  font-size: 20px;
}
.usage,
.desc {
  font-size: 15px;
}

.categories-content {
  background-color: rgba(0, 0, 0, 0.1);
  height: 150px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 20px;
}
.categories-content h2 {
  margin-bottom: 5px;
}
.categories-content p {
  margin-left: 8px;
}

.categories-content {
  display: none;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}
.category.active .categories-content {
  opacity: 1;
  display: block;
}