.mark {
  position: absolute;
  height: 10;
  width: 0;
  border-bottom: 4px solid;
  border-color: #FFBBBB;
  transition: all 0.3s ease;
  z-index: 0;
}

#commands-container {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.categories-content {
  background-color: rgba(20, 0, 0, 0.5);
  height: 130px;
  width: 300px;
  border-radius: 5px;
  border-left: 4px solid #C71F37;
  margin-bottom: 6px;
  padding: 20px;
}
.categories-content h2 {
  margin-bottom: 5px;
}
.categories-content p {
  margin-left: 8px;
}
.usage,
.desc {
  font-size: 15px;
}